/* Color Theme Swatches in Hex */
$Chalk-lettering-1-hex: #BF907E;
$Chalk-lettering-2-hex: #A63117;
$Chalk-lettering-3-hex: #F2F2F2;
$Chalk-lettering-4-hex: #595959;
$Chalk-lettering-5-hex: #0D0D0D;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: roboto, sans-serif;
}

body {
    background-color: $Chalk-lettering-3-hex;
    text-transform: to-upper-case($string: "");
}


.app {
    // background-color: white;
    position: absolute;
    min-width: 1200px;
    width: 1400px;
    left: 50%;
    margin-left: -700px;
    top: 30px;
    bottom: 30px;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
}

@media (max-width: 1460px) {
    .app {
        min-width: 1000px;
        width: auto;
        left: 30px;
        right: 30px;
        margin-left: 0px;
        top: 30px;
        bottom: 30px;
        display: flex;
        border-radius: 10px;
    }
}