/* Color Theme Swatches in Hex */
$Chalk-lettering-1-hex: #BF907E;
$Chalk-lettering-2-hex: #A63117;
$Chalk-lettering-3-hex: #F2F2F2;
$Chalk-lettering-4-hex: #595959;
$Chalk-lettering-5-hex: #0D0D0D;


.homePage,
.page {
    padding-bottom: 50px;
    animation: appear .5s;

    h1 {
        margin-top: 50px;
        font-size: 36px;
        text-align: center;
        margin: 30px 0;
    }

    h2.heading {
        font-size: 28px;
        margin: 30px 20px 10px;
    }

    h3 {
        margin: 20px 15px 10px
    }

    p.text {
        font-size: 18px;
        margin: 20px 20px;
        text-indent: 20px;
        line-height: 24px;

        a {
            color: black;
            text-decoration: none;
        }

        a:hover {
            // text-decoration: underline;
            color: $Chalk-lettering-2-hex;
        }
    }
}


.homePage {
    .quote {
        text-align: center;
        margin: 20px 140px 20px;
        padding-bottom: 40px;
        border-bottom: 1px $Chalk-lettering-4-hex solid;
        color: $Chalk-lettering-4-hex;

        h2.quote-heading {
            margin: 0 60px;
        }

        p {
            text-align: right;
        }
    }
}

@keyframes appear {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100%;
    }
}

@media (max-width: 1090px) {

    .homePage,
    .page {
        h2.heading {
            font-size: 28px;
            margin: 30px 20px 10px;
        }

        h3 {
            margin: 20px 15px 10px
        }

        p.text {
            font-size: 20px;
        }
    }

    .homePage {
        .quote {
            padding-bottom: 30px;

            h2.quote-heading {
                margin: 5px 0;
            }
        }
    }
}

@media (max-width: 768px) {

    .homePage,
    .page {
        h1 {
            font-size: 32px;
            margin: 20px 0;
        }

        h2.heading {
            font-size: 26px;
            margin: 20px 20px 10px;
        }

        h3 {
            margin: 20px 15px 10px
        }

        p.text {
            font-size: 18px;
        }
    }

    .homePage {
        .quote {
            padding-bottom: 20px;
            margin: 20px 80px 20px;

            h2.quote-heading {
                margin: 5px 0;
            }
        }
    }
}

@media (max-width: 640px) {

    .homePage,
    .page {
        h1 {
            font-size: 28px;
        }

        h2.heading {
            font-size: 22px;
        }

        p.text {
            font-size: 16px;
        }
    }

    .homePage {
        .quote {
            margin: 20px 100px 20px;

            h2.quote-heading {
                font-size: 20px;
            }
        }
    }
}

@media (max-width: 414px) {

    .homePage,
    .page {
        h1 {
            font-size: 22px;
        }

        h2.heading {
            font-size: 18px;
        }

        p.text {
            font-size: 14px;
        }
    }

    .homePage {
        .quote {
            margin: 15px 30px;

            h2.quote-heading {
                font-size: 18px;
            }
        }
    }
}