.images-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  flex-wrap: wrap;
  margin-top: 20px;

  .single-element {
    margin: 15px 0;
    overflow: hidden;
    position: relative;
    border-radius: 10px;


    .element-title {
      position: absolute;
      width: 100%;
      font-size: 22px;
      bottom: 5px;
      text-align: center;
      text-transform: uppercase;
      color: white;
    }

    .trip-image {
      width: 480px;
      height: 300px;
      transition: .4s;
    }

    .study-element-image {
      width: 320px;
      height: 200px;
      transition: .4s;
    }

    .language-lesson-image {
      width: 360px;
      height: 225px;
    }

    .trip-image:hover,
    .study-element-image:hover {
      transform: scale(110%);
      filter: brightness(60%);
    }
  }

  .trip-element {
    height: 300px;
  }

  .study-element {
    height: 200px;
  }

  .language-lesson {
    height: 225px;
    margin: 10px;
  }
}






@media (max-width: 1200px) {
  .images-container {
    .single-element {
      .language-lesson-image {
        width: 240px;
        height: 150px;
      }
    }

    .language-lesson {
      height: 150px;
      margin: 5px;
    }
  }
}



@media (max-width: 768px) {
  .images-container {
    .single-element {
      .element-title {
        font-size: 18px;

      }

      .trip-image {
        width: 240px;
        height: 150px;
        filter: brightness(80%);
      }

      .study-element-image {
        filter: brightness(80%);
      }
    }

    .trip-element {
      height: 150px;
    }
  }
}