/* Color Theme Swatches in Hex */
$Chalk-lettering-1-hex: #BF907E;
$Chalk-lettering-2-hex: #A63117;
$Chalk-lettering-3-hex: #F2F2F2;
$Chalk-lettering-4-hex: #595959;
$Chalk-lettering-5-hex: #0D0D0D;

i.fa-arrow-circle-down {
    display: none;
}

.studyNavigation {
    background-color: $Chalk-lettering-4-hex;
    height: 60px;

    ul {
        margin-left: 30px;
        width: 70%;
        list-style: none;
        justify-content: space-around;
        display: flex;
        line-height: 60px;

        li {
            text-transform: uppercase;

            a {
                font-size: 18px;
                color: white;
                text-decoration: none;
                padding: 17px 30px;
            }

            a.active {
                border-bottom: 3px $Chalk-lettering-3-hex solid;
            }

            a:hover {
                border-bottom: 3px white solid;
                // color: purple;
            }
        }
    }
}

.wordsContainer {
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;

    .wordElement {
        background-color: $Chalk-lettering-3-hex;
        width: 330px;
        height: 250px;
        margin: 30px 0;
        border-radius: 10px;

        .wordContainer {
            margin: 5px;
            width: 320px;
            height: 200px;
            line-height: 200px;

            p {
                font-size: 28px;
                text-transform: capitalize;
                cursor: pointer;
            }
        }

        .wordImage {
            width: 320px;
            height: 200px;
            border-radius: 5px;
            overflow: hidden;
        }

        p {
            text-align: center;
            text-transform: uppercase;
        }

        .flagsContainer {
            display: flex;
            justify-content: space-around;
            align-items: center;
            height: 40px;
        }

        .flagPic {
            cursor: pointer;
        }
    }
}

.containerForVerbs {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    .verbContainer {
        width: 200px;
        background-color: $Chalk-lettering-4-hex;
        margin: 20px 40px;
        border-radius: 10px;
        text-align: center;

        a.verbElement {
            cursor: pointer;
            line-height: 40px;
            padding: 0 10px;
            text-decoration: none;
            color: white;
            transition: .3s;
        }

        a:hover {
            font-size: 18px;
        }
    }
}

@media (max-width: 1200px) {
    .containerForVerbs {
        .verbContainer {
            width: 200px;
            background-color: $Chalk-lettering-4-hex;
            margin: 15px 0px;

            a.verbElement {
                font-size: 18px;
            }

            a:hover {
                font-size: 20px;
            }
        }
    }
}

@media (max-width: 768px) {
    .studyNavigation {
        padding: 0 10px;

        ul {
            margin-left: 0;
            width: 100%;
            line-height: 60px;

            li {
                a {
                    font-size: 16px;
                    padding: 20px 30px;
                }
            }
        }
    }

    .wordsContainer {
        .wordElement {
            width: 250px;
            height: 200px;
            margin: 30px 0;
            border-radius: 10px;

            .wordContainer {
                width: 240px;
                height: 150px;
                line-height: 150px;

                p {
                    font-size: 24px;
                }
            }

            .wordImage {
                width: 240px;
                height: 150px;
            }

            p {
                font-size: 14px;
            }
        }
    }

    .containerForVerbs {
        .verbContainer {
            a.verbElement {
                font-size: 16px;
            }

            a:hover {
                font-size: 18px;
            }
        }
    }
}

@media (max-width: 414px) {

    i.fa-arrow-circle-down {
        position: absolute;
        right: 0;
        display: block;
        color: $Chalk-lettering-4-hex;
        font-size: 36px;
        margin: 5px;
        z-index: 2;
    }

    .studyNavigation {
        display: none;
    }

    .studyNavActive {
        animation: studyNavigationAppear ease-out .5s;
        display: flex;
        position: absolute;
        background-color: $Chalk-lettering-4-hex;
        padding: 0 10px;
        width: 100%;
        height: 180px;
        z-index: 1;
        opacity: 0.95;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;

        ul {
            flex-direction: column;
            margin-left: 0;
            width: 100%;
            line-height: 20px;


            li {
                a {
                    font-size: 16px;
                    padding: 20px 30px;
                }

                a.active {
                    border-bottom: 0px $Chalk-lettering-3-hex solid;
                }
            }
        }
    }

    .wordsContainer {
        d .wordElement {
            width: 250px;
            height: 200px;
            margin: 30px 0;
            border-radius: 10px;

            .wordContainer {
                width: 240px;
                height: 150px;
                line-height: 150px;

                p {
                    font-size: 24px;
                }
            }

            .wordImage {
                width: 240px;
                height: 150px;
            }

            p {
                font-size: 14px;
            }
        }
    }

    .containerForVerbs {
        .verbContainer {
            a.verbElement {
                font-size: 16px;
            }

            a:hover {
                font-size: 18px;
            }
        }
    }
}

@keyframes studyNavigationAppear {
    0% {
        height: 0;
    }


    100% {
        height: 180px;
    }
}