/* Color Theme Swatches in Hex */
$Chalk-lettering-1-hex: #BF907E;
$Chalk-lettering-2-hex: #A63117;
$Chalk-lettering-3-hex: #F2F2F2;
$Chalk-lettering-4-hex: #595959;
$Chalk-lettering-5-hex: #0D0D0D;

.containerForSingleVerb {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 20px;

  .verbMainContainer {
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: $Chalk-lettering-4-hex;

    // .verbPolishPastTense {
    //   width: 400px;
    //   display: flex;
    //   flex-direction: column;

    //   .verbPolishPastTenseGender {
    //     display: flex;

    //     p {
    //       font-size: 14px;
    //     }
    //   }
    // }

    p.verbElement {
      font-size: 18px;
      line-height: 50px;
      padding: 0 10px;
      width: 200px;
      color: white;
    }

    p.verbElement:first-child {
      width: 150px;
    }
  }

  .verbContainer {
    width: 100%;
    display: flex;
    justify-content: space-around;

    p.verbElement {
      width: 200px;
      padding: 10px;
      line-height: 20px;
    }

    p.verbElement:first-child {
      width: 150px;
    }
  }

  .verbContainer:nth-child(odd) {
    background-color: #EBEBEB;
  }
}

.verbExamples {
  li {
    padding-left: 20px;
    line-height: 32px;
  }
}

@media (max-width: 1320px) {
  .containerForSingleVerb {
    border-right: 3px solid #fff;
    border-left: 3px solid #fff;
    margin: 0 0;
  }
}

@media (max-width: 640px) {
  .containerForSingleVerb {
    .verbMainContainer {
      p.verbElement {
        font-size: 16px;
      }
    }
  }
}

@media (max-width: 320px) {
  .containerForSingleVerb {
    .verbMainContainer {
      p.verbElement {
        font-size: 13px;
      }
    }
  }

  .verbContainer {
    p.verbElement {
      font-size: 13px;
    }
  }
}


//   .verbMainContainer {
//     width: 100%;
//     display: flex;
//     justify-content: space-around;
//     align-items: center;
//     background-color: $Chalk-lettering-4-hex;

//     .verbPolishPastTense {
//       display: flex;
//       flex-direction: column;

//       .verbPolishPastTenseGender {
//         display: flex;
//         flex-direction: row;
//         height: 30px;

//         p {
//           font-size: 14px;
//         }
//       }
//     }

//     p {
//       font-size: 18px;
//       line-height: 30px;
//       padding: 0 10px;
//       width: 200px;
//       color: white;
//     }
//   }

//   .verbContainer {
//     width: 100%;
//     display: flex;
//     justify-content: space-around;
//     margin: 0 50px;

//     .verbElement {
//       width: 200px;
//       padding: 10px;
//       line-height: 20px;
//       transition: .3s;
//     }
//   }

//   .verbContainer:nth-child(odd) {
//     background-color: #EBEBEB;
//   }
// }

// .verbExamples {
//   li {
//     padding-left: 20px;
//     line-height: 32px;
//   }
// }